:root {
  /* 主題色 */
  --color1: #012970 !important;
  --color2: #ffc107 !important;
  --color3: #6c757d !important;
  --color4: rgb(51, 51, 51) !important;
  --color5: #c4000d !important;
  --color6: #e4dfd4 !important;
  --colorwhite: #ffffff !important;

  /* 黑色透明 */
  --black25: rgba(0, 0, 0, 0.25) !important;
  --black50: rgba(0, 0, 0, 0.5) !important;
  --black75: rgba(0, 0, 0, 0.75) !important;

  /* 白色透明 */
  --white25: rgba(255, 255, 255, 0.25) !important;
  --white50: rgba(255, 255, 255, 0.5) !important;
  --white75: rgba(255, 255, 255, 0.75) !important;

  /* 陰影 */
  --shadow1: 0 0 5px var(--black25) !important;
  --shadow2: 0 0 10px var(--black50) !important;
  --shadow3: 0 0 15px var(--black75) !important;

  /* 內距、外距的級數 spacing */
  --s0: 0 !important;
  --s1: 0.25rem !important;
  --s2: 0.5rem !important;
  --s3: 1rem !important;
  --s4: 1.5rem !important;
  --s5: 3rem !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  font-weight: 700;
}

.nav-text {
  color: var(--colorwhite);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--color2);
}

.card {
  box-shadow: 0 10px 20px rgba(189, 189, 189, 0.2),
    0 6px 6px rgba(189, 189, 189, 0.3);
  transition: all 0.2s;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3);
}

#section1,
#section2,
#section3 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#header {
  width: 100%;
  height: 90vh;
  background: url(../images/main-bg.jpg) no-repeat center/cover;
  /* opacity: 0.5; */
  filter: grayscale(1);
}

/* Introduce ---------------------------------------- */

.content {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: var(--color4);
  border-radius: 4px;
  color: #fff;
}

.icon {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
}

.icon:hover {
  color: var(--color5);
}

.photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.7));
  background: url(../images/photo.png) no-repeat center/cover;
}
.intro-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.125);
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.about-text {
  margin-bottom: 30px;
}

#type-js {
  display: block;
  position: absolute;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
}

.about-me {
  font-weight: 600;
  font-size: 18px;
}

.about-icon {
  margin-top: 20px;
}
/* experience */

#section2 {
  background: rgba(0, 0, 0, 0.1);
}
.work-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.work-card:hover {
  background: transparent;
}

.work p {
  margin: 0;
}
.company-name {
  font-weight: 600;
  font-size: 24px;
}

/* Skill ---------------------------------------- */

#skill {
  overflow: hidden;
}

#skill .card-text p {
  margin: 0;
}

#skill i {
  font-size: 60px;
}

#skill .card-title {
  font-weight: 700;
  color: var(--color5);
}

.edu-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.skill-text {
  text-align: center;
}

/* portfolio */
#portfolio .card-body {
  height: 300px;
  background: var(--color4);
  color: #fff;
}
#portfolio .card-title {
  color: var(--color2);
  font-size: 1.5rem;
  font-weight: 600;
}

.zoom {
  /* position: relative; */
  width: 100%;
  overflow: hidden;
}

.zoom img {
  transition: transform 0.2s; /* Animation */
}

.zoom img:hover {
  transform: scale(1.1);
}

footer {
  padding: 40px 0;
  color: var(--colorwhite);
  background: #000;
}

/* 回到頂端 */
#go_top_page {
  width: 40px;
  height: 40px;
  background: var(--color5);
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 9999;
  box-shadow: inset 0 0 2px var(--color3);
}

#go_top_page a {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
  color: var(--colorwhite);
  text-decoration: none;
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
  .photo {
    width: 250px;
    height: 250px;
  }

  .skill-text {
    text-align: left;
  }

  #type-js {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-size: 28px;
  }

  /* 回到頂端 */
  #go_top_page {
    width: 50px;
    height: 50px;
  }

  #go_top_page a {
    line-height: 50px;
  }
}
